<div class="container" style="margin-top:20px">
  <section>
    <header class="header">
      <h2><div class="row">{{acao}} Pessoa</div></h2>
    
    </header>
  </section> 


  <form  [formGroup]="formPessoa" (ngSubmit)="cadastrarPessoa()" novalidate>
    <section>
      <div class="row" >
        <div class="col-md-5">
          <label for="input-nome">Nome</label>
          <input type="text" formControlName="nome" id="input-nome" class="form-control"/>
          <small  *ngIf="!formPessoa.get('nome').valid && formPessoa.get('nome').touched" class="form-text text-danger">Campo Inválido</small>
        </div>
        <div class="col-md-5">
          <label for="input-cpf">CPF</label>
          <input type="text" formControlName="cpf" id="input-cpf" class="form-control" />
          <small  *ngIf="!formPessoa.get('cpf').valid && formPessoa.get('cpf').touched" class="form-text text-danger">Campo Inválido</small>
        </div>
      </div>

      <div class="row" >
        <div class="col-md-5">
          <label for="input-nome">E-mail</label>
          <input type="text" formControlName="email"  id="input-email" class="form-control"/>
          <small  *ngIf="!formPessoa.get('email').valid && formPessoa.get('email').touched" class="form-text text-danger">Campo Inválido</small>

        </div>
        <div class="col-md-5">
          
          <label for="input-data-nasc">Data de Nascimento</label>
          <my-date-picker name="mydate" [options]="myDatePickerOptions" formControlName="dataNascimento"></my-date-picker>
          <small  *ngIf="!formPessoa.get('dataNascimento').valid && formPessoa.get('dataNascimento').touched" class="form-text text-danger">Campo Inválido</small>



        </div>
      </div>
    </section>

    <hr/>

    

    <section>
        <div class="row" style="margin-top:0px">
            <h3>Lista de Telefones</h3>
            <table  class="table">
                <thead>
                    <tr>
                      <th>id</th>
                      <th scope="col">DDD</th>
                      <th scope="col">Número</th>
                      <th scope="col">Ações</th>
                      
                    </tr>
                  </thead>
                  <!-- formPessoa.controls.telefones.controls -->

                  <tbody  formArrayName="telefones">
                      <tr  *ngFor="let item of getTelefones(formPessoa); let i=index"
                        [formGroupName]="i" >
                          <td><input type='text'  style="border:none; background:none; width:30px" placeholder="-" readonly formControlName="id"></td>
                          <td><input type='text' class="form-control" style="width:50px" formControlName="ddd"></td>
                          <td><input type='text' class="form-control" formControlName="numero"></td>
                          <td >
                            
                            <button type="button" class="btn btn-danger btn-sm" *ngIf="getTelefones(formPessoa).length > 1" (click)="removerTelefone(i)">Remover</button>
                            
                           </td>
                      </tr>
                      <button type="button" class="btn btn-info btn-sm" (click)="adicionarTelefone()">Adicionar</button>   
                  </tbody>
            </table>
        </div>
      </section>
   
    <section>
      <div class="row" >
        <button type="submit" class="btn btn-primary btn-lg" style="margin-right:30px"  [disabled]="!formPessoa.valid">{{ btn }} </button>
        <button type="button" class="btn btn-secondary btn-lg" routerLink="/pessoa" >Cancelar</button>
      </div>

      
    </section>
    
    <pre>
      {{formPessoa.value | json}}
    </pre>
  </form>
</div>

